{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}
{% block content %}
<div class="home-content">
    <div class="left-text">
        <h1>Using Notes, or worse... PAPER to track your budget? </h1>
        <p>Worry less about losing your expense records with Cashmate</p>
        <div class="join-btn">
            <a href="{% url 'account:register' %}"><button class="btn">Use Cashbuddy For Free</button></a>
        </div>
    </div>
    <img class="hero-img" src="{% static 'img/hero-img.png' %}" alt="hero-img" />
</div>
{% endblock %}