{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}View Categories{% endblock title %}
{% block content %}
<form method="post">
    {{ form|crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Change Sort</button>
</form>
{% for transaction in transactions %}
<p>{{ transaction.date_created }}</p>
<b>{{ transaction.category }}</b>
<p>{{ transaction.title }}</p>
<p>{{ transaction.description }}</p>
<p>${{ transaction.amount }}</p>
<a href="{% url 'transactions:edit' transaction.get_slug %}"><button class="btn btn-primary">Edit</button></a>
<a href="{% url 'transactions:delete' transaction.get_slug %}"><button class="btn btn-primary">Delete</button></a>
{% endfor %}
{% endblock content %}