{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}View Categories{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/list_transactions.css' %}"/>
{% endblock %}
{% block content %}
<div class="list-content">
    <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Change Sort</button>
    </form>
    <table class="table">
        <thead class="table-header">
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th></th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in page_obj %}
                <tr>
                    <td scope="row" class="table-category">
                        <div class="td-div">
                            <b>{{ transaction.category }}</b>
                        </div>
                    </td>
                    <td>
                        <div class="td-div">
                            ${{ transaction.amount }}
                        </div>
                    </td>
                    <td>
                        <div class="td-div">
                            {{ transaction.date_created }}
                        </div>
                    </td>
                    <td>
                        <div class="td-div">
                            {{ transaction.title }}
                        </div>
                    </td>
                    <td>
                        <div class="td-div">
                            {{ transaction.description }}
                        </div>
                    </td>
                    <td><a href="{% url 'transactions:edit' transaction.get_slug %}"><button class="btn btn-primary">Edit</button></a></td>
                    <td><a href="{% url 'transactions:delete' transaction.get_slug %}"><button class="btn btn-primary">Delete</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav class="pagination-controls">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.get_previous_page }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
        </ul>
    </nav>
</div>
{% endblock content %}